# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*
secrets/
certs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log